/manager/sklay-web/src/main/resources/config.properties
/manager/.settings
/manager/*.project
/manager/sklay-cms/.settings
/manager/sklay-cms/*.classpath
/manager/sklay-cms/*.project
/manager/sklay-cms-web/.settings
/manager/sklay-cms-web/*.classpath
/manager/sklay-cms-web/*.project
/manager/sklay-core/.settings
/manager/sklay-core/*.classpath
/manager/sklay-core/*.project
/manager/sklay-track/.settings
/manager/sklay-track/*.classpath
/manager/sklay-track/*.project
/manager/sklay-web/.settings
/manager/sklay-web/*.classpath
/manager/sklay-web/*.project
/manager/sklay-widgets/.settings
/manager/sklay-widgets/*.classpath
/manager/sklay-widgets/*.project
/manager/sklay-widgets/target
/manager/sklay-web/target
/manager/sklay-track/target
/manager/sklay-core/target
/manager/sklay-cms-web/target
/manager/sklay-cms/target
